body {
	font-family: Arial, "MS Trebuchet", sans-serif;
	background-color: white;
	font-size: 15px;
	margin-left: 20px;
	margin-top: 20px;
}

pre {
	border: 1px dotted grey;
	background-color: #F2F3D4;
}

h1, h2, h3, h4, h5, h6 {
	color: #2E446D;
}

a,
a:active,
a:visited {
	color: #00113B;
	text-decoration: underline;
}

a:hover {
	color: #7A3838;
}

/*Styles for client-menu.xsl*/

#menu {
	background-color: #F1F1F1;
}

#menu h1 {
	font-size: 20px;
	margin-bottom: 20px;
}

#menu h1 a,
#menu h1 a:hover,
#menu h1 a:active,
#menu h1 a:visited {
	color: #2E446D;
}

#menu h2 {
	font-size: 15px;
	margin-bottom: 1px;
}

#menu ul {
	padding-left: 2px;
}

#menu li.package ul,
#menu li.core ul {
	padding-left: 10px;
}

#menu li {
	list-style-type: none;
}

/*Styles for client-default.xsl*/

#default h1 {
	font-size: 30px;
	margin-bottom: 30px;
}

#default h2 {
	font-size: 19px;
}

#default ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#default .package ul,
#default .core ul {
	margin-left: 25px;
	margin-bottom: 25px;
}

/*Styles for client-binding.xsl*/

#binding h1 {
	padding: 0;
	margin: 0;
}

#binding h1 .seperator {
	padding-left: 5px;
	padding-right: 5px;
}

#binding table {
	border: 1px dotted grey;
	width: 800px;
	border-collapse: collapse;
}

#binding table thead {
	border-bottom: 1px dotted grey;
	background-color: #D2DFE7;
}

#binding table td {
	border-left: 1px dotted grey;
	border-bottom: 1px dotted grey;
	background-color: #F1F1F1;
}

#events ul.attributes {
	list-style-type: none;
	padding: 0;
	margin: 3px 0 0 3px;
}

/*Styles for client-binding-summary.xsl*/
.summary span.default {
	font-style: italic;
	font-color: grey;
}

.summary h3 {
	margin: 0;
	padding: 0;
}

.summary ul {
	padding: 0;
}

.summary span.required {
	font-weight: bold;
	padding-left: 2px;
	color: red;
}