html, body, table {
	font-family: helvetica, Arial, "MS Trebuchet", sans-serif;
	background-color: white;
	font-size: 12px;
	margin: 10px;
}


h1, h2, h3, h4, h5, h6 {
	/*color: #2E446D;*/
}

p {
	margin-top:5px;
	padding-top:5px;
}

a,
a:active,
a:visited {
	color: #00113B;
	text-decoration: underline;
}

a:hover {
	color: #7A3838;
}

/*Styles for client-menu.xsl*/

#menu {
	/*background-color: #F1F1F1;*/
}

#menu h1 {
	font-size: 18px;
	margin-bottom: 20px;
}

#menu h1 a,
#menu h1 a:hover,
#menu h1 a:active,
#menu h1 a:visited {
	color: #2E446D;
}

#menu h2 {
	font-size: 14px;
	margin-bottom: 1px;
}

#menu ul {
	padding-left: 2px;
}

#menu li.package ul,
#menu li.core ul {
	padding-left: 10px;
	padding-top:5px;
	padding-bottom:5px;
}

#menu li {
	list-style-type: none;
	padding-top:2px;
	padding-bottom:2px;	
}

/*Styles for client-default.xsl*/

#default h1 {
	font-size: 30px;
	margin-bottom: 30px;
}

#default h2 {
	font-size: 14px;
}

#default ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#default .package ul,
#default .core ul {
	margin-left: 25px;
	margin-bottom: 25px;
}

/*Styles for client-binding.xsl*/
#binding
{
	width:700px;
}

#binding h1 {
	font-size: 26px;
	margin-bottom: 0px;
}

#binding h2 {
	font-size: 14px;
	margin-top: 14px;
	margin-bottom: 8px;
}

#binding h1 .seperator {
	padding-left: 5px;
	padding-right: 5px;
}

#binding table {
	border: 1px dotted grey;
	width: 100%;
	border-collapse: collapse;
	padding:5px;
	margin-left:0px;
	margin-bottom:10px;
}

#binding table thead {
	border-bottom: 1px dotted grey;
	background-color: #CCCCCC;
	font-size:12px;
	text-align:left;
	padding:10px;
}

#binding table th {
	padding:5px;
}

#binding table td {
	border-left: 1px dotted grey;
	border-bottom: 1px dotted grey;
	background-color: #F1F1F1;
	padding:5px;
}

#binding ul.attributes {
	list-style-type: none;
	padding: 0;
	margin: 3px 0 0 3px;
}

#binding pre.example {
	border: 1px dotted grey;
	background-color: #F2F3D4;
}

/*Styles for client-binding-summary.xsl*/
.summary span.default {
	font-style: italic;
	font-color: grey;
}

.summary h3 {
	margin: 0;
	padding: 0;
}

.summary ul {
	padding: 0;
	list-style-type: circle;
}

.summary span.required {
	font-weight: bold;
	padding-left: 2px;
	color: red;
}